
$theme-dark: (    
    bg-color: rgb(30, 30, 30),
    border-color: rgb(114, 114, 114),

    text-primary: white,
    text-2: rgb(165, 165, 165),
    text-secondary: rgb(119, 119, 119),
    
    label-color: rgb(252, 109, 109),

    button-color: rgb(224, 89, 89),
    button-hover-color: rgb(248, 140, 140),

    menu-selected-color: rgb(129, 62, 62),

    shadow-color: rgba(138, 158, 248, 0.534),

    search-background: white,
    search-placeholder:rgb(131, 131, 131),
    search-color: rgb(0, 0, 0),

    table-hover: rgb(41, 41, 41),
);